[package]
name = "k2-creek"
version = "0.7.3"
authors = ["Benjamin Wenzel <wenzel@ehealthexperts.de>",
           "Christian Fochler <fochler@ehealthexperts.de>"]
license = "MIT"
homepage = "http://k2.ehealthexperts.de"
repository = "https://github.com/eHealthExperts/k2-creek.git"
publish = false
edition = "2018"
build = "build.rs"

[dependencies]
anyhow = "1.0.32"
base64 = "0.12.3"
clap = "2.33.3"
cfg-if = "0.1.10"
config = { version = "0.10.1", default-features= false, features=["ini"] }
der-parser = "4.1.0"
encoding = "0.2.33"
enum-iterator = "0.6.0"
env_logger = "0.7.1"
log = "0.4.11"
nom = "5.1.2"
promptly = "0.3.0"
reqwest = { version = "0.10.8", features = ["blocking", "json", "rustls-tls"] }
rusticata-macros = "2.1.0"
serde = "1.0.115"
serde_derive = "1.0.115"
serde-xml-rs = "0.4.0"
serde_with = "1.4.0"
url = { version = "2.1.1", features = ["serde"] }
xml-rs = "0.8.3"

[dev-dependencies]
assert_cmd = "1.0.1"
mockall = "0.8.1"
futures-timer = "3.0.2"
predicates = "1.0.5"
serial_test = "0.5.0"
serde_json = "1.0.57"
tempfile = "3.1.0"
test-server = { git = "https://github.com/ChriFo/test-server-rs", tag = "0.9.0" }

[target.'cfg(windows)'.build-dependencies]
winres = "0.1.11"

[package.metadata.winres]
FileVersion = "0.7.3"
LegalCopyright = "eHealthExperts GmbH. All rights reserved."
ProductName = "K2 creek"
ProductVersion = "0.7.3"
